/**
 * Default Variables.
 *
 */
.container-wrapper {
  margin: auto;
  max-width: 1100px; }

.post-author-info {
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #000;
  margin-bottom: 10px;
  padding: 10px 5px; }

.node--type-article .node__content {
  background: #eee;
  padding: 20px; }
.node--type-article .field--name-field-image {
  float: left;
  padding: 0 20px 20px 0; }

/*# sourceMappingURL=style.css.map */
