// Wrap the content so it doesn't go full width
.container-wrapper {
	margin: auto;
	max-width: 1100px;
}

// Apply some style to the node submission info
.post-author-info {
	border: 1px solid;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #000;
	margin-bottom: 10px;
	padding: 10px 5px;
}

// For the article content type, we'll float the image so the text wraps
.node--type-article {
	
	// Add a colored container around the node content
	.node__content {
		background: $light-grey;
		padding: 20px;
	}

	.field--name-field-image {
		float: left;
		padding: 0 20px 20px 0;
	}

}
