/**
 * Default Variables.
 *
 */

$primary-color: #9b3131;
$primary-color-fade: rgba(0,204,204,0.1);
$primary-supplement: #cb4f4b;
$grey-text: #777;
$sorta-grey: #555;
$light-grey: #eee;
$almost-black: #0e0e0e;